<launch>
  <arg name="map_file" default="$(find cw2)/testmap.yaml"/>
  <node pkg="custom_comp0037_map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  <node pkg="custom_comp0037_turtlesim" name="sim" type="turtlesim_node"/>
  <node pkg="planner_controller" name="test" type="pullFromMapServer.py"/>
</launch>

  
